---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Psycholog Nadja Liszewska',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Nadja Liszewska"
    tagline="Psychoterapeutka w nurcie CBT"
    actions={[{ variant: 'primary', text: 'Umów się na wizytę', href: getPermalink('/contact#calendar-link') }]}
  >
    <Fragment slot="subtitle">
      Jestem dyplomowanym psychologiem i psychoterapeutką poznawczo-behawioralnym w trakcie certyfikacji z 5 letnim doświadczeniem.
    </Fragment>
  </Hero>

<!-- Content Widget **************** -->

  <Content
    id="help"
    isReversed
    tagline=""
    title="W czym mogę Ci pomóc?"
    items={[
      {
        title: 'Lęk i zaburzenia lękowe',
        description:
          'Uwolnij się od nadmiernych obaw, paniki i fobii. Naucz się technik, które pomogą Ci odzyskać spokój i kontrolę',
      },
      {
        title: 'Depresja',
        description:
          'Odzyskaj radość życia i energię. Poznaj metody, które pomogą Ci wydostać się z ciemności i zobaczyć świat w jaśniejszych barwach.',
      },
      {
        title: 'Stres i wypalenie',
        description:
          'Odnajdź równowagę w codziennym życiu. Wypracuj zdrowe granice i naucz się dbać o własne potrzeby.',
      },
      {
        title: 'Problemy w relacjach',
        description:
        'Popraw komunikację i zbuduj głębsze, bardziej satysfakcjonujące relacje z bliskimi.',
      },
     {
       title: 'Niska samoocena',
       description:
       'Rozwiń zdrową samoakceptację i pewność siebie. Uwolnij się od ciągłej samokrytyki.',
     },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content

  <!-- Features3 Widget ************** -->

    <Features3
      id="cbt"
      title="Czym jest terapia poznawczo-behawioralna (CBT)?"
      subtitle="Terapia poznawczo-behawioralna to jedna z najskuteczniejszych, naukowo potwierdzonych metod terapeutycznych. Opiera się na założeniu, że nasze myśli, emocje i zachowania są ze sobą ściśle powiązane.<br> W trakcie terapii uczysz się:"
      columns={2}
      defaultIcon="tabler:point-filled"
      items={[
        {
          title: 'Identyfikować i modyfikować szkodliwe wzorce myślenia.',
          description: '',
        },
        {
          title: 'Rozwijać adaptacyjne strategie radzenia sobie z trudnymi emocjami',
          description: '',
        },
        {
          title: 'Wprowadzać korzystne zmiany w zachowaniu.',
          description: '',
        },
        {
          title: 'Budować nowe, zdrowsze nawyki.',
          description: '',
        }
      ]}
    />

 <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        description:
          'Jest to metoda o udowodnionej skuteczności, poparta licznymi badaniami naukowymi',
        icon: 'tabler:wand',
      },
      {
        description:
          'Skupia się na konkretnych problemach i rozwiązaniach "tu i teraz".',
        icon: 'tabler:settings',
      },
      {
        description:
          'Oferuje praktyczne narzędzia i techniki do codziennego stosowania',
        icon: 'tabler:presentation',
      },
      {
        description:
          'Jest terapią krótkoterminową - efekty widoczne są zazwyczaj po 12-20 sesjach',
        icon: 'tabler:carousel-horizontal',
      },
      {
        description:
            'Uczy samodzielności i daje umiejętności na całe życie',
        icon: 'tabler:carousel-horizontal',
    },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Dlaczego warto wybrać terapię CBT?</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    id="about"
    image={{
      src: '~/assets/images/nadja.webp',
      alt: 'Nadja Liszewska',
      style: 'object-position: top'
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">O mnie</h2>
      <p>
        Jestem psychoterapeutką w trakcie 4 letniego szkolenia w nurcie poznawczo-behawioralnym organizowanego przez
         Centrum Terapii Poznawczej i Schematu INTEREGO rekomendowanego przez Polskie Towarzystwo Terapii Poznawczej i Behawioralnej PTTPB.
        Jestem absolwentką wydziału psychologii Uniwersytetu Humanistycznospołecznego SWPS w Warszawie.
      </p>
      <br />
      <p>
        Swoje doświadczenie zdobywałam już na studiach odbywając staże kliniczne oraz wolontariat na oddziale
        diagnostyczno terapeutycznym w Instytucie Psychiatrii i Neurologii w Warszawie gdzie obecnie pracuje.
        Prowadzę grupę terapeutyczną, zajęcia obejmujące trening umiejętności społecznych oraz warsztaty z elementami psychoedukacji.
      </p>
      <br />
      <p>W swojej pracy bardzo dużą wagę przywiązuje do relacji z pacjentem. Otwartości na jego potrzeby, autentyczność
      i empatia są dla mnie podstawą do budowania zaufania oraz poczucia bezpieczeństwa w terapii.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <!--<Testimonials-->
  <!--  id="testimonials"-->
  <!--  title="Opinie klientów"-->
  <!--  subtitle="Odkryj, co klienci mówią o swoich doświadczeniach z pracą ze mną."-->
  <!--  testimonials={[-->
  <!--    {-->
  <!--      testimonial: `Psycholog CBT, z którym miałem okazję pracować, wykazał się niezwykłym profesjonalizmem oraz empatią, co pozwoliło mi otworzyć się na proces terapeutyczny. Jego podejście było klarowne i skuteczne.`,-->
  <!--      name: 'Marek',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Mark Thompson Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Terapia CBT pod jego opieką była dla mnie przełomowa. Nauczył mnie skutecznych strategii radzenia sobie ze stresem i lękami, które znacznie poprawiły moją jakość życia.`,-->
  <!--      name: 'Iwona',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',-->
  <!--        alt: 'Emily Martinez Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Psycholog ten oferował nie tylko wiedzę, ale przede wszystkim zrozumienie i wsparcie. Jego umiejętność słuchania i dostosowania się do moich potrzeb była niezwykle ważna w procesie leczenia.`,-->
  <!--      name: 'Laura',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Laura Simmons Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Praca z tym psychologiem CBT była dla mnie inspirująca i motywująca. Pomógł mi zrozumieć, że zmiany są możliwe i że mogę je wprowadzać w swoim życiu.`,-->
  <!--      name: 'Alex',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Alex Foster Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Co mnie najbardziej zaskoczyło, to praktyczne rozwiązania, które otrzymałem podczas terapii. Psycholog ten potrafił wyjaśnić złożone pojęcia w prosty sposób, co ułatwiło mi wdrożenie nowych strategii w codziennym życiu.`,-->
  <!--      name: 'Zuzanna',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',-->
  <!--        alt: 'Jessica Collins Image',-->
  <!--      },-->
  <!--    },-->
  <!--    {-->
  <!--      testimonial: `Stworzył bezpieczną przestrzeń, w której mogłem swobodnie dzielić się swoimi myślami i emocjami. Jego podejście było pełne szacunku i zrozumienia, co pozwoliło mi poczuć się komfortowo podczas sesji.`,-->
  <!--      name: 'Michał',-->
  <!--      image: {-->
  <!--        src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',-->
  <!--        alt: 'Michael Carter Image',-->
  <!--      },-->
  <!--    },-->
  <!--  ]}-->
  <!--/>-->
</Layout>
